<section class="main-wrapper">
	<navbar [brand]="'Detail karty'"></navbar>
	<div class="content-wrapper">
		<div class="photo">
			<img src="{{card.img}}" (click)="displayPhoto(card.img)"/>
		</div>
		<div class="name">
			<p>{{card.name}}</p>
			<small>{{card.code}}</small>
		</div>
		<div class="stats">
			<div class="stats-item">
				<small>Třída:</small>
				<p>{{card.rarity}}</p>
			</div>
			<div *ngIf="card.type==1" class="stats-item">
				<small>Gang:</small>
				<small *ngIf="card.type>1">Skupina:</small>				
				<p>{{card.gangName}}</p>
			</div>
			<div *ngIf="card.type>1" class="stats-item">
				<small>Skupina:</small>			
				<p>{{card.cardType}}</p>
			</div>
		</div>
		<div class="description">
			<p>{{card.description}}</p>
		</div>
	</div>
</section>
