<section class="main-wrapper">
	<navbar [brand]="'Detail karty'"></navbar>
	<div class="content-wrapper">
		<div class="photo">
			<img src="{{card.img}}" (click)="displayPhoto(card.img)"/>
		</div>
		<div class="name">
			<p>{{card.name}}</p>
		</div>
		<div class="stats">
			<div class="stats-item">
				<small>Třída:</small>
				<p>{{card.rarity}}</p>
			</div>
			<div class="stats-item">
				<small>Gang:</small>
				<p>{{card.code}}</p>
			</div>
		</div>
		<div class="description">
			<p>{{card.description}}</p>
		</div>
	</div>
</section>
