.logo-wrapper {
	display: flex;
	justify-content: space-around;
	padding: 100px 0;
	img {
		width: 40%;
		max-width: 200px;
		height: 40%;
	}
}

.link-wrapper {
	a {
		text-decoration: underline;
	}
}

.form-wrapper {
	width: 80%;
	max-width: 400px;
	margin: 0 auto;

	.input-wrapper {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 100%;
		margin: 1em;
		max-width: 350px;
		width: calc(100% - 2em);
		overflow: hidden;		

		label::before, label::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: calc(100% - 10px);
			border-bottom: 1px solid #ccc;
		}

		label.is-invalid::before {
			border-bottom: 1px solid #dc3545;
		}

		label::after {
			margin-top: 2px;
			border-bottom: 4px solid #ffc800;
			-webkit-transform: translate3d(-100%, 0, 0);
			transform: translate3d(-100%, 0, 0);
			-webkit-transition: -webkit-transform 0.3s;
			transition: transform 0.3s;
		}

		.code-input:focus + label .label-content,
		&.filled .label-content {
			-webkit-animation: anim-1 0.3s forwards;
			animation: anim-1  0.3s forwards
		}

		.code-input:focus + label::after,
		&.filled label::after {
			-webkit-transform: translate3d(0, 0, 0);
			transform: translate3d(0, 0, 0);
		}

		.code-input {
			background: transparent;
			border: none;
			color: white;
			margin-top: .4em;
			padding: 1.6em .15em;
			display: block;
			position: relative;
			float: right;
			width: 100%;
			-webkit-appearance: none;
		}

		.code-input:focus {
			outline: none;
			box-shadow: none;
		}

		label {
			position: absolute;
			bottom: 0;
			left: 0;
			padding: 0 0.15em;
			width: 100%;
			height: calc(100% - 1em);
			text-align: left;
			pointer-events: none;
			-webkit-font-smoothing: antialiased;
		    -moz-osx-font-smoothing: grayscale;
			-webkit-touch-callout: none;
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;

			display: inline-block;
			float: right;
			color: #ffc800;
			font-weight: bold;

			.label-content {
				position: absolute;
				display: block;
				padding: 1.6em 0;
				width: 100%;
			}
		}
	}

	.form-control {
		border-radius: 50px;
	}

	.btn-outline-warning {
		border-width: 2px;
	}
}

@-webkit-keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}

@keyframes anim-1 {
	50% {
		opacity: 0;
		-webkit-transform: translate3d(1em, 0, 0);
		transform: translate3d(1em, 0, 0);
	}
	51% {
		opacity: 0;
		-webkit-transform: translate3d(-1em, -40%, 0);
		transform: translate3d(-1em, -40%, 0);
	}
	100% {
		opacity: 1;
		-webkit-transform: translate3d(0, -40%, 0);
		transform: translate3d(0, -40%, 0);
	}
}