<section class="main-wrapper">
	<div class="logo-wrapper">
		<img src="assets/logo.png" />
	</div>
	<div class="form-wrapper">
		<form name="form" (ngSubmit)="f.form.valid && onSubmit(f)" #f="ngForm">
			<div class="form-group input-wrapper" [class.filled]="f.form.value.code != ''">
				<input
					type="text"
					class="code-input"
					id="code"
					name="code"
					[(ngModel)]="model.code"
					#code="ngModel"
					[ngClass]="{'is-invalid': f.submitted && code.invalid}"
					autocomplete="off"
					required>
				<label for="code" [ngClass]="{'is-invalid': f.submitted && code.invalid}">
					<span class="label-content">Kód nebo jméno:</span>
				</label>
			</div>
			<div class="form-group">
				<button class="btn btn-outline-warning form-control" type="submit">Potvrdit</button>
			</div>
		</form>
	</div>
	<div class="link-wrapper">
		<p class="text-center">
			<a (click)="showList()">Zobrazit vše</a>
		</p>
	</div>
</section>
